/*--------------------------RESET-----------------------------*/
@font-face {
    font-family: 'bignoodletoo';
    src: url('assets/fonts/bignoodletoo.ttf');
}

@font-face {
    font-family: 'koverwatch';
    src: url('assets/fonts/koverwatch.ttf');
}

@font-face {
    font-family: 'Aerovias_Brasil_NF';
    src: url('assets/fonts/Aerovias_Brasil_NF.ttf');
}

@font-face {
    font-family: 'koverwatch.ttf';
    src: url('assets/fonts/koverwatch.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #242424;
    font-size: 10px;
    font-family: "bignoodletoo", Arial, sans-serif;
}

/*---------------------------HEADER-------------------------------*/

header nav ul li a:hover,
header nav ul li a:focus {
    color: #56c831;
    outline: none;
    animation: glow2 800ms ease-out infinite alternate;
    border-color: #56c831;

}

.nav-top {
    font-size: 1.5vw;
    padding: .5vw .5vw;
}

nav ul ul {
    display: none;
    position: absolute;
    left: 13.5%;
    top: 5%;
    z-index: 99;
}

nav ul ul li {
    float: none;
    display: list-item;
    position: relative;
}

nav ul li:hover>ul {
    display: inherit;
    height: auto;
}

li {
    display: block;
    list-style: none;
    display: inline;
    padding: .5vw 1vw;
    letter-spacing: .3vw;
}

a {
    color: #efefef;
    text-decoration: none;
}

a:visited,
a:hover {
    color: #efefef;
    text-decoration: none;
}

input {
    width: 13vw;
    height: 1.7vw;
    border: 4px solid #f2c609;
    color: rgb(245, 245, 245);
    font-size: 1.7rem;
    font-weight: bold;
    margin-right: 1vw;
    background-color: #2b2a2a;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    tranform: skew(-30deg);
}

input:hover,
input:focus {
    animation: glow 800ms ease-out infinite alternate;
    border-color: #56c831;
    text-align: center;
    outline: none;

}

::placeholder {
    text-align: center;
    font-weight: bold;
    color: rgb(245, 245, 245);
    font-size: 1.7rem;
    letter-spacing: .2vw;
}

@keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
    }

    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
    }
}

button {
    width: 7vw;
    height: 1.7vw;
    border: 4px solid #f2c609;
    background-color: #2b2a2a;
    color: rgb(245, 245, 245);
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: .1vw;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    tranform: skew(-30deg);

}

button:hover,
button:focus {
    color: #56c831;
    outline: none;
    animation: glow 800ms ease-out infinite alternate;
    border-color: #56c831;

}

.login {
    position: absolute;
    top: 1%;
    right: 2%;

}

.title-h1 {
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
    color: #f2c609;
    text-shadow: 3px 3px 3px black;
    position: absolute;
    z-index: 2;
    margin: 3vw 0 0 3vw;
    letter-spacing: 1.5vw;

}

.logo {
    width: 15%;
    position: absolute;
    right: 0;
    z-index: 2;
    margin: 2vw 6vw 0 0;
}

.blanc {
    color: rgb(245, 245, 245);
}

.vert {
    animation: glow2 1000ms ease-out infinite alternate;
    color: #56c831;
}

@keyframes glow2 {
    0% {
        color: rgb(22, 66, 22);

    }

    100% {
        color: #56c831;
    }
}

.video-header {
    height: 93.3vh;
    object-fit: fill;
    width: 100%;
}

/*-------------------------------------------arrow image link------------------------------------*/

@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.arrow {
    width: 3%;
    position: absolute;
    right: 50%;
    bottom: 1%;
    z-index: 2;
}

.arrow-top {
    width: 3%;
    position: fixed;
    right: 0;
    bottom: 1%;
    z-index: 99;
}

.arrow2 {
    width: 3%;
    position: absolute;
    bottom: -99%;
    right: 50%;
    z-index: 2;

}

.arrow3 {
    width: 3%;
    position: absolute;
    bottom: -199%;
    right: 50%;
    z-index: 2;
}

.arrow4 {
    width: 3%;
    position: absolute;
    bottom: -299%;
    right: 50%;
    z-index: 2;
}

.arrow5 {
    width: 3%;
    position: absolute;
    bottom: -399%;
    right: 50%;
    z-index: 2;
}

.arrow6 {
    width: 3%;
    position: absolute;
    bottom: -499%;
    right: 50%;
    z-index: 2;
}

.arrow7 {
    width: 3%;
    position: absolute;
    bottom: -599%;
    right: 50%;
    z-index: 2;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/*-------------------------------------------SEPERATOR-------------------------------------------*/

.seperator-wrapper .seperator {
    position: relative;
    width: 100%;
    height: .3vw;
    animation: rotate 5s infinite linear;
    -webkit-animation: rotate 5s infinite linear;
}

@-webkit-keyframes rotate {
    from {
        background-position: -3000px;
    }

    to {
        background-position: 0px;
    }
}

@keyframes rotate {
    from {
        background-position: -3000px;
    }

    to {
        background-position: 0px;
    }
}

.gradient {
    background: rgb(48, 255, 144);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(48, 255, 144, 1)), color-stop(25%, rgba(237, 45, 237, 1)), color-stop(50%, rgba(201, 152, 38, 1)), color-stop(75%, rgba(48, 255, 230, 1)), color-stop(100%, rgba(48, 255, 144, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(48, 255, 144, 1) 0%, rgba(237, 45, 237, 1) 25%, rgba(201, 152, 38, 1) 50%, rgba(48, 255, 230, 1) 75%, rgba(48, 255, 144, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(48, 255, 144, 1) 0%, rgba(237, 45, 237, 1) 25%, rgba(201, 152, 38, 1) 50%, rgba(48, 255, 230, 1) 75%, rgba(48, 255, 144, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(48, 255, 144, 1) 0%, rgba(237, 45, 237, 1) 25%, rgba(201, 152, 38, 1) 50%, rgba(48, 255, 230, 1) 75%, rgba(48, 255, 144, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(48, 255, 144, 1) 0%, rgba(237, 45, 237, 1) 25%, rgba(201, 152, 38, 1) 50%, rgba(48, 255, 230, 1) 75%, rgba(48, 255, 144, 1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30ff90', endColorstr='#30ff90', GradientType=1);
    /* IE6-9 */
}

/*-----------------------------------------OVERWATCH2-------------------------------------------*/

.img-o2 {
    height: 99vh;
    width: 100%;
    position: relative;
    z-index: -1;
}

.title-o2 {
    position: absolute;
    top: auto;
    left: 0;
    width: 55vw;
    height: 15vw;
    margin-top: 2vw;
}

.heroes-o2 {
    width: 55vw;
    height: 30vw;
    position: absolute;
    bottom: -99.5%;
    left: 0;
}

.logo-o2 {
    position: absolute;
    right: 12%;
    bottom: -32%;
    width: 17%;
}

.p-o2 {
    font-size: 3vw;
    position: absolute;
    right: 9%;
    bottom: -55%;
    text-align: center;
}

.video-o2 {
    position: absolute;
    bottom: -98%;
    right: 0;
    width: 35vw;
    margin-right: 3vw;
    border: 3px solid rgb(242, 198, 9);
    opacity: .9;
}

.link-o2 {
    color: #f2c609;
    text-shadow: 2px 2px 2px black;
    animation: glow3 1000ms ease-out infinite alternate;
}

.link-o2 a:hover {
    color: #f2c609;
    text-shadow: 2px 2px 2px black;
}

@keyframes glow3 {
    0% {
        color: #cca807;

    }

    100% {
        color: #ffee00;
    }
}

/*-----------------------------HALLOWEEN-----------------------------------------*/

.img-halloween {
    height: 99vh;
    width: 100%;
    position: relative;
    z-index: -1;
}

.title-halloween {
    position: absolute;
    top: 205%;
    right: 30%;
    width: 25%;
}

.h2-halloween {
    font-family: 'Creepster', cursive;
    position: absolute;
    bottom: -125%;
    left: 1.2vw;
    width: 35%;
    font-size: 2.5vw;
    text-align: center;
    color: #c40101;
    text-shadow: 5px 5px 5px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 255), 0 0 1em rgb(0, 0, 255);
    letter-spacing: .5vw;

    -webkit-animation: change-color 600ms ease-out infinite alternate;
    -moz-animation: change-color 600ms ease-out infinite alternate;
    -ms-animation: change-color 600ms ease-out infinite alternate;
    animation: change-color 600ms ease-out infinite alternate;
}

@-webkit-keyframes change-color {
    0% {
        color: #6e0202;
    }

    100% {
        color: #ca0000;
    }
}

@keyframes change-color {
    0% {
        color: #920101;
    }

    100% {
        color: #ca0000;
    }
}

.p-halloween {
    margin-top: .9vw;
    font-size: 1.7vw;
    font-family: 'Creepster', cursive;
    position: absolute;
    bottom: -152%;
    left: 1.2vw;
    width: 35%;
    text-align: center;
    color: #c40101;
    text-shadow: 3px 3px 3px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 255), 0 0 1em rgb(0, 0, 255);
    letter-spacing: .3vw;
}

.faucheur-halloween {
    position: absolute;
    bottom: -161%;
    right: 12%;
    width: 22%;
}

.video-halloween {
    position: absolute;
    bottom: -197%;
    left: 0;
    width: 35vw;
    margin-left: 1vw;
    border: 3px solid #920101;
    opacity: .7;
}

.soldier-halloween {
    position: absolute;
    bottom: -201%;
    right: 44%;
    width: 20%;

}

/*--------------------------------SUMMER GAME----------------*/

.img-sg {
    height: 99vh;
    width: 100%;
    position: relative;
    z-index: -1;
}

.video-sg {
    position: absolute;
    bottom: -237%;
    right: 10%;
    width: 30vw;
    border: 3px outset rgb(212, 212, 212);
    border-radius: 20%;
    opacity: .8;
}

.title-sg {
    position: absolute;
    top: 301%;
    left: 1%;
    width: 20%;
}

.zenyatta-sg {
    position: absolute;
    bottom: -258%;
    right: 26%;
    width: 4%;
}

.chacal-sg {
    position: absolute;
    bottom: -262%;
    right: 37%;
    width: 5%;
}

.reinhardt-sg {
    position: absolute;
    bottom: -267%;
    left: 25%;
    width: 10%;
}

.bouldozer-sg {
    position: absolute;
    bottom: -290%;
    left: 2%;
    width: 22%;
}

.winston-sg {
    position: absolute;
    bottom: -280%;
    right: 10%;
    width: 13%;
}

.lucio-sg {
    position: absolute;
    bottom: -298%;
    left: 37%;
    width: 20%;
}

.ball-sg {
    position: absolute;
    bottom: -297%;
    right: 33%;
    width: 11%;
}

.h2-sg {
    position: absolute;
    top: 303%;
    left: 31%;
    font-size: 3.5vw;
    text-align: center;
    color: #3fa9f5;
    text-shadow: 5px 5px 5px rgb(0, 0, 0), 0 0 .5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0);
    letter-spacing: .5vw;
    font-family: "Aerovias_Brasil_NF";
}

.p-sg {
    font-size: 1.7vw;
    position: absolute;
    top: 312%;
    left: 22%;
    width: 35%;
    text-align: center;
    font-weight: bold;
    color: #79c843;
    text-shadow: 3px 3px 3px rgb(0, 0, 0), 0 0 .5em black, 0 0 .5em black;
    letter-spacing: .3vw;
    font-family: "Aerovias_Brasil_NF";
}

.link-sg {
    color: #ff0000;
    text-shadow: 2px 2px 2px black;
}

.link-sg a:hover {
    color: #ff0000;
    text-shadow: 2px 2px 2px black;
}

/*---------------------------------ANNIVERSARY----------------------------------*/

.bg-anniv {
    position: relative;
    top: auto;
    right: 0;
    z-index: -99;
    width: 100%;
    height: 99vh;
}

.video-anniv {
    position: absolute;
    top: 418%;
    left: 0;
    height: 70vh;
    object-fit: fill;
    width: 100%;
    border-top: 5px solid gold;
    border-bottom: 5px solid gold;
}

.title-anniv {
    position: absolute;
    top: 400%;
    left: 40%;
    width: 16%;
}

.hanzo-anniv {
    position: absolute;
    top: 399%;
    right: 0;
    width: 17%;
    z-index: -1;
}

.genji-anniv {
    position: absolute;
    top: 399%;
    left: 0%;
    width: 14%;
    z-index: -1;
}

.chacal-anniv {
    position: absolute;
    top: 399%;
    left: 13.5%;
    width: 13%;
    z-index: -1;
}

.doomfist-anniv {
    position: absolute;
    top: 399%;
    left: 26%;
    width: 15%;
    z-index: -1;
}

.brigitte-anniv {
    position: absolute;
    top: 399%;
    right: 16%;
    width: 13%;
    z-index: -1;
}

.zarya-anniv {
    position: absolute;
    top: 398%;
    right: 30%;
    width: 14%;
    z-index: -1;
}

.winston-anniv {
    position: absolute;
    bottom: -398.2%;
    right: 0;
    width: 16%;
    z-index: 3;
}

.orisa-anniv {
    position: absolute;
    bottom: -398.2%;
    right: 16%;
    width: 20%;
    z-index: 3;
}

.bastion-anniv {
    position: absolute;
    bottom: -398.2%;
    left: 0;
    width: 17%;
    z-index: 3;
}

.symmetra-anniv {
    position: absolute;
    bottom: -398.2%;
    left: 17%;
    width: 22%;
    z-index: 3;
}

.link-anniv {
    color: #f2c609;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    position: absolute;
    bottom: -387%;
    left: 39%;
    font-size: 2.5vw;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(0, 0, 0), 0 0 .5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0);
    letter-spacing: .3vw;
    /*font-family: "kroverwatch";*/
    z-index: 2;
}

.link-anniv a:hover {
    color: #f2c609;
    text-shadow: 2px 2px 2px black;
}

/*-------------------------------NOEL-----------------------------*/

.bg-noel {
    position: relative;
    top: auto;
    right: 0;
    z-index: -99;
    width: 100%;
    height: 99vh;
}

.title-noel {
    position: absolute;
    top: 202%;
    left: 5%;
    width: 20%;
}

.video-noel {
    position: absolute;
    top: 203%;
    right: 2%;
    width: 22vw;
    border: 3px solid rgba(175, 226, 255, .9);
    border-radius: 10%;
    opacity: .9;
}

.h2-noel {
    position: absolute;
    top: 203%;
    left: 38%;
    font-size: 3vw;
    text-align: center;
    color: rgba(175, 226, 255, 1);
    text-shadow: 4px 4px 4px black;
    font-family: "koverwatch", Arial, sans-serif;
}

.p-noel {
    font-size: 2vw;
    position: absolute;
    left: 28%;
    width: 75rem;
    top: 210%;
    text-align: center;
    color: rgba(175, 226, 255, 1);
    text-shadow: 4px 4px 4px black;
    font-family: "koverwatch", Arial, sans-serif;
}

.link-noel {
    font-size: 2vw;
    position: absolute;
    left: 43%;
    width: 75rem;
    top: 219%;
    color: #ff0000;
    text-shadow: 2px 2px 2px black;
}

.link-noel a:hover {
    color: #ff0000;
    text-shadow: 2px 2px 2px black;
}

.mccree-noel {
    position: absolute;
    bottom: -190%;
    left: 9%;
    width: 9.5%;
    z-index: 3;
}

.ana-noel {
    position: absolute;
    bottom: -198%;
    left: 35%;
    width: 12%;
    z-index: 3;
}

.soldat-noel {
    position: absolute;
    bottom: -198%;
    right: 33%;
    width: 14%;
    z-index: 3;
}

.faucheur-noel {
    position: absolute;
    top: 226%;
    left: 48%;
    width: 6%;
    z-index: 3;
}

.sigma-noel {
    position: absolute;
    top: 239.2%;
    right: 33%;
    width: 7%;
    z-index: -1;
}

.doomfist-noel {
    position: absolute;
    bottom: -178%;
    left: 27%;
    width: 6%;
    z-index: 3;
}

.chacal-noel {
    position: absolute;
    bottom: -190%;
    right: 9%;
    width: 10%;
    z-index: 3;
}

/*------------------------------nouvel an lunaire----------------------*/

.bg-nouvelAn {
    position: relative;
    top: auto;
    right: 0;
    z-index: -99;
    width: 100%;
    height: 99vh;
}

.title-nouvelAn {
    position: absolute;
    bottom: -588%;
    left: 46%;
    width: 13%;
    z-index: 3;
}

.video-nouvelAn {
    position: absolute;
    top: 635%;
    right: 55%;
    width: 19%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15%;
    transform: rotate(3deg);
}

.zarya-nouvelAn {
    position: absolute;
    bottom: -598%;
    right: 2%;
    width: 15%;
    z-index: 3;
}

.phara-nouvelAn {
    position: absolute;
    top: 613.8%;
    left: 36%;
    width: 4%;
    z-index: 3;
    transform: rotate(7deg);
}

.faucheur-nouvelAn {
    position: absolute;
    bottom: -597%;
    left: 2%;
    width: 14%;
    z-index: 2;
}

.zenyatta-nouvelAn {
    position: absolute;
    bottom: -593%;
    left: 27%;
    width: 8%;
    z-index: 2;
}

.torbjorn-nouvelAn {
    position: absolute;
    bottom: -586%;
    left: 40%;
    width: 6%;
    z-index: 2;
}

.chopeur-nouvelAn {
    position: absolute;
    bottom: -586%;
    right: 30%;
    width: 10%;
    z-index: 2;
}

/*------------------------------------Jeux-------------------*/

.main-img {
    position: absolute;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.video-p {
    margin: 30vh 18vw 15vh 11vw;
    position: relative;
    z-index: 2;
    width: 48vw;
    height: 55vh;
}

.bg-anime {
    background-color: rgb(226, 226, 226);
}

.bg-center {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1vw 0;
}

.presentation {
    background-color: #333131;
    width: 95%;
    font-family: "koverwatch", Arial, sans-serif;
    text-align: center;
    font-size: 2.5vw;
    color: #f2c609;
    border: 7px solid black;
    margin-top: 1vw;
    padding-top: 1vw;
    text-shadow: 2px 2px black;
    animation: glow 3000ms ease-out infinite alternate;
}

.p-main {
    margin: 1% 0;
}

/*---------------------------FOOTER----------------------------*/

footer {
    text-align: center;
}

.contact-footer {
    display: inline-block;

}